In [1]:
import pandas as pd
import pickle
import datetime as dt
import numpy as np

In [35]:
this_year = dt.datetime.now().year
branch='women'
model_filepath_win = f'../model/logit_model_with_winrate_{branch}.pickle'
model_filepath = f'../model/logit_model_sans_winrate_{branch}.pickle'
loaded_model_win = pickle.load(open(model_filepath_win, 'rb'))
loaded_model = pickle.load(open(model_filepath, 'rb'))
luck_adj = False
if luck_adj:
    luck_ext = '_luck_adj'
else:
    luck_ext = ''

In [36]:
teams = pd.read_csv(f'../data/tournament_regions_{branch}23.csv')
teams.head()

         team  seed region
0    Stanford     1   East
1        Iowa     2   East
2        Duke     3   East
3       Texas     4   East
4  Louisville     5   East

In [37]:
# first_four_losers = ['Texas Southern','Mississippi State','Southeast Missouri State','Nevada']
first_four_losers = ['Illinois','Southern','Purdue','Monmouth']

In [38]:
teams = teams.loc[~teams.team.isin(first_four_losers)]

In [39]:
conference_regions = ['South','East','Midwest','West']
round_one_matchups = [
    (1,16),
    (8,9),
    (5,12),
    (4,13),
    (6,11),
    (3,14),
    (7,10),
    (2,15)
]

In [40]:
matchups = []
for region in conference_regions:
    for matchup in round_one_matchups:
        team = teams.loc[
            (teams.region == region) & 
            (teams.seed == matchup[0]),'team'
        ].item()
        
        opponent = teams.loc[
            (teams.region == region) & 
            (teams.seed == matchup[1]),'team'
        ].item()
        
        matchups.append([team,opponent,matchup[0],matchup[1]])
        
init_teams_df = pd.DataFrame(matchups,columns=[
    'team','opponent','seed','seed_opp'
])

In [41]:
data = pd.read_csv(f'../data/transformed_data_{branch}{str(this_year)[-2:]}.csv')
data.head()

,team,opponent,won,team_score,opponent_score,team_rank,opponent_rank,game_round,season_type,date,...,score_diff,luck,luck_opp,choke_rate,choke_rate_opp,upset_rate,upset_rate_opp,win_streak,win_streak_opp,matchup_win_rate
0,Abilene Christian,Northern Colorado,1,81.0,61.0,NaN,NaN,NaN,regular_season,2020/12/04,...,20.0,0.5,0.600000,NaN,NaN,0.0,NaN,0.000000,0.354424,0.0
1,Abilene Christian,Texas A&M,0,59.0,77.0,NaN,10.0,NaN,regular_season,2020/12/13,...,-18.0,0.5,0.875000,NaN,0.107143,0.0,NaN,0.315176,3.661989,NaN
2,Abilene Christian,UAB,0,73.0,81.0,NaN,NaN,NaN,regular_season,2020/12/19,...,-8.0,0.5,0.166667,NaN,NaN,0.0,NaN,0.000000,0.801142,NaN
3,Abilene Christian,Stetson,1,70.0,55.0,NaN,NaN,NaN,regular_season,2020/12/20,...,15.0,0.5,0.444444,NaN,NaN,0.0,NaN,0.000000,0.000000,NaN
4,Abilene Christian,Texas A&M Corpus Christi,1,73.0,51.0,NaN,NaN,NaN,regular_season,2021/01/09,...,22.0,0.5,0.000000,NaN,NaN,0.0,NaN,0.315176,0.000000,NaN

In [42]:
team_cols = [col for col in data.columns.tolist() if (('_opp' not in col) & ('opponent' not in col))]
for col in ['team_score','underdog','fan_favorite','seed','score_diff','matchup_win_rate','home_game','season_year',
           'season_type','date']:
    try:
        team_cols.remove(col)
    except:
        continue

team_cols

['team',
 'won',
 'team_rank',
 'game_round',
 'de',
 'oe',
 'te',
 'pace',
 'physicality_score',
 'sos_norm',
 'srs_norm',
 'luck',
 'choke_rate',
 'upset_rate',
 'win_streak']

In [43]:
opp_cols = {}
for col in team_cols:
    if col == 'team':
        opp_cols[col] = 'opponent'
    elif col in ['won','game_round']:
        continue
    elif col == 'team_rank':
        opp_cols[col] = 'opponent_rank'
    else:
        opp_cols[col] = f'{col}_opp'

In [44]:
team_metrics = data.loc[data.season_year == this_year,team_cols].groupby(['team']).last().reset_index()

In [45]:
def get_matchup_win_rate(matchups,data):
    # Calculate matchup win rate
    print('Calculating matchup win rate')
    matchups_df = pd.DataFrame()

    
    match_wl = []
    for match in matchups:
        wins = data.loc[
            (data.team == match[0]) &
            (data.opponent == match[1]),'won'
        ].sum()
        games = data.loc[
            (data.team == match[0]) &
            (data.opponent == match[1]),'won'
        ].count()
        played_previously = 0
        if games >= 1:
            played_previously = 1

        match_wl.append(match+[wins/games,played_previously])

    matchups_df = pd.DataFrame(match_wl,columns=['team','opponent','matchup_win_rate','previous_matchup'])
    return matchups_df

In [46]:
def get_probability(coefs,vals,intercept):
    log_prob = np.add(np.matmul(vals,coefs),intercept)
    return (1/(1+np.exp(-log_prob)))

In [47]:
def get_next_round_matchups(data):
    round_winners = []
    for i in data.index:
        if data.loc[i].win == 1:
            winning_team = data.loc[i].team
            winning_seed = data.loc[i].seed
        else:
            winning_team = data.loc[i].opponent
            winning_seed = data.loc[i].seed_opp
        round_winners.append([winning_team,winning_seed])
        
    matchups = []
    matchup = []
    i = 0
    for team in round_winners:
        if i % 2 == 0:
            matchup += team
        else:
            matchups.append(matchup + team)
            matchup = []
        i += 1
        
    next_round = pd.DataFrame(matchups,columns=['team','seed','opponent','seed_opp'])
    return next_round

In [48]:
df_rnds = []
teams_df = init_teams_df.copy()
for rnd in ['first','second','sweet16','elite_eight','final_four','championship']:

    round_df = teams_df.merge(team_metrics,on=['team'],how='left')
    round_df = round_df.merge(
        team_metrics[list(opp_cols.keys())].rename(columns=opp_cols),on=['opponent'],how='left')
    round_df.game_round = rnd
    round_df.drop('won',axis=1,inplace=True)
    round_df.insert(2,'win',0)

    # Get previous matchups
    matchups = round_df[['team','opponent']].drop_duplicates().values.tolist()
    df_match = get_matchup_win_rate(matchups,data).dropna()
    matchup_bool = True
    if len(df_match) != 0:
        round_df = round_df.merge(df_match,on=['team','opponent'],how='left')
    else:
        matchup_bool = False

    
    # Add fan_favorite - home team in regular season or underdog in tournaments
    round_df['fan_favorite'] = 0
    round_df['fan_favorite_opp'] = 0
    round_df.loc[
        ((round_df.seed - round_df.seed_opp) >= 8) | 
        (np.isnan(round_df.team_rank) & ~np.isnan(round_df.opponent_rank)),
        'fan_favorite'] = 1
    round_df.loc[
        ((round_df.seed_opp - round_df.seed) >= 8) | 
        (np.isnan(round_df.opponent_rank) & ~np.isnan(round_df.team_rank)),
        'fan_favorite_opp'] = 1
    round_df.fillna(0)
    
    
    if matchup_bool:
        round_df.insert(2,'team_win_probability',0)
        for i in round_df.index:
            if np.isnan(round_df.loc[i]['matchup_win_rate']):
                intercept = loaded_model.params[0]
                coef_cols = loaded_model.params.index[1:]
                coefs = list(loaded_model.params[1:])
                
                vals = round_df.loc[i][coef_cols].fillna(0).values.tolist()
                round_df.iloc[i,round_df.columns.get_loc('team_win_probability')] = get_probability(coefs,vals,intercept)
            else:
                intercept = loaded_model_win.params[0]        
                coef_cols = loaded_model_win.params.index[1:]
                coefs = list(loaded_model_win.params[1:])
                
                vals = round_df.loc[i][coef_cols].fillna(0).values.tolist()
                round_df.iloc[i,round_df.columns.get_loc('team_win_probability')] = get_probability(coefs,vals,intercept)
    else:
        round_df.fillna(0,inplace=True)
        intercept = loaded_model.params[0]
        coef_cols = loaded_model.params.index[1:]
        coefs = list(loaded_model.params[1:])
        vals = round_df[coef_cols].values.tolist()
        round_df.insert(2,'team_win_probability',get_probability(coefs,vals,intercept))
    
    if luck_adj:
        round_df.loc[
            ((abs(round_df.team_win_probability - 0.5) < .02) &
            (round_df.luck >= round_df.luck_opp)) |
            (round_df.team_win_probability > 0.52)
            ,'win'] = 1
    else:
        round_df.loc[
            round_df.team_win_probability > 0.5
            ,'win'] = 1

    df_rnds.append(round_df)
    # Calculate next round matchups
    teams_df = get_next_round_matchups(round_df)

df_tourney = pd.concat(df_rnds).reset_index(drop=True)
df_tourney = df_tourney[df_tourney.columns[:6].tolist() + sorted(df_tourney.columns[6:])]
df_tourney.to_csv(f'tournament_outcomes{luck_ext}_{branch}{str(this_year)[-2:]}.csv',index=False)

Calculating matchup win rate
Calculating matchup win rate

<ipython-input-45-151b3cf8eb0c>:21: RuntimeWarning: invalid value encountered in longlong_scalars
  match_wl.append(match+[wins/games,played_previously])
<ipython-input-45-151b3cf8eb0c>:21: RuntimeWarning: invalid value encountered in longlong_scalars
  match_wl.append(match+[wins/games,played_previously])

Calculating matchup win rate
Calculating matchup win rate
Calculating matchup win rate
Calculating matchup win rate

<ipython-input-45-151b3cf8eb0c>:21: RuntimeWarning: invalid value encountered in longlong_scalars
  match_wl.append(match+[wins/games,played_previously])
<ipython-input-45-151b3cf8eb0c>:21: RuntimeWarning: invalid value encountered in longlong_scalars
  match_wl.append(match+[wins/games,played_previously])
<ipython-input-45-151b3cf8eb0c>:21: RuntimeWarning: invalid value encountered in longlong_scalars
  match_wl.append(match+[wins/games,played_previously])

In [92]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 35
df_tourney

,team,opponent,team_win_probability,win,seed,seed_opp,choke_rate,choke_rate_opp,de,de_opp,fan_favorite,fan_favorite_opp,game_round,luck,luck_opp,matchup_win_rate,oe,oe_opp,opponent_rank,pace,pace_opp,physicality_score,physicality_score_opp,previous_matchup,sos_norm,sos_norm_opp,srs_norm,srs_norm_opp,te,te_opp,team_rank,upset_rate,upset_rate_opp,win_streak,win_streak_opp
0,Alabama,Texas A&M Corpus Christi,0.993754,1,1,16,0.172414,0.000000,93.085532,101.408451,0,1,first,1.000000,0.250000,NaN,111.670663,112.379540,0.0,72.0,71.0,66.458617,53.973626,NaN,89.151713,16.476346,100.000000,46.470227,1.199657,1.108187,4.0,1.000000,0.000000,0.000000,0.494290
1,Maryland,West Virginia,0.385608,0,8,9,0.600000,1.000000,98.301887,102.554006,0,0,first,0.000000,0.400000,NaN,109.528302,110.166803,24.0,64.0,69.0,35.027300,50.311513,NaN,79.975530,93.678630,82.156742,85.062410,1.114203,1.074232,21.0,0.625000,0.333333,0.000000,2.810359
2,San Diego State,College of Charleston,0.810005,1,5,12,0.210526,0.142857,95.648211,95.516163,0,0,first,0.833333,0.666667,NaN,108.361814,114.577685,18.0,66.0,70.0,45.369207,56.677468,NaN,82.177814,29.404568,83.916513,68.569675,1.132920,1.199563,20.0,0.000000,0.000000,0.821778,2.058320
3,Virginia,Furman,0.764344,1,4,13,0.214286,0.000000,96.799297,102.071146,0,1,first,0.600000,0.666667,NaN,108.949416,117.670619,0.0,62.0,69.0,26.753712,44.014946,NaN,72.675367,31.892333,79.210149,61.694291,1.125519,1.152829,13.0,1.000000,0.000000,1.453507,1.594617
4,Creighton,North Carolina State,0.557805,1,6,11,0.416667,0.333333,98.507137,102.203992,0,0,first,0.285714,0.714286,NaN,110.232102,112.879409,23.0,69.0,69.0,30.631491,49.462318,NaN,86.663948,69.045677,87.436055,77.061592,1.119027,1.104452,24.0,0.500000,0.500000,1.733279,0.690457
5,Baylor,UC Santa Barbara,0.884482,1,3,14,0.291667,0.000000,104.442767,100.580445,0,1,first,0.666667,0.800000,NaN,114.710494,110.633981,0.0,67.0,65.0,41.904520,35.047112,NaN,93.311582,38.907015,88.213628,59.197872,1.098310,1.099955,10.0,0.400000,0.000000,0.000000,1.556281
6,Missouri,Utah State,0.489833,1,7,10,0.666667,0.000000,105.735768,100.652970,0,1,first,1.000000,0.500000,NaN,112.696026,113.436322,0.0,70.0,69.0,49.154839,39.154733,NaN,77.487765,77.446982,76.202169,82.443217,1.065827,1.127004,20.0,0.625000,0.000000,2.324633,3.872349
7,Arizona,Princeton,0.936087,1,2,15,0.185185,0.000000,99.305556,98.082023,0,1,first,0.666667,0.666667,NaN,114.828431,108.738822,0.0,72.0,69.0,48.905704,25.408704,NaN,83.686786,35.766721,92.142419,57.663188,1.156314,1.108652,8.0,0.750000,0.000000,0.000000,0.357667
8,Purdue,Fairleigh Dickinson,0.999637,1,1,16,0.192308,0.000000,97.664835,0.000000,0,1,first,0.833333,0.000000,NaN,113.782051,0.000000,0.0,64.0,0.0,39.125547,0.000000,NaN,84.706362,0.000000,90.976059,0.000000,1.165026,0.000000,5.0,1.000000,0.000000,1.694127,0.000000
9,Memphis,Florida Atlantic,0.571263,1,8,9,0.000000,0.250000,98.828283,93.472972,1,0,first,0.444444,0.875000,NaN,109.616162,113.360838,25.0,72.0,69.0,63.882897,42.532613,NaN,76.794454,49.836868,81.870268,78.637201,1.109158,1.212766,0.0,0.250000,0.000000,2.303834,2.491843
10,Duke,Oral Roberts,0.636553,1,5,12,0.263158,0.000000,98.010707,98.757249,0,1,first,0.857143,1.000000,NaN,111.174979,118.641259,0.0,65.0,71.0,50.239802,38.119325,NaN,76.386623,35.725938,83.179865,70.861469,1.134315,1.201342,21.0,0.333333,0.000000,4.583197,4.644372
11,Tennessee,Louisiana,0.950066,1,4,13,0.310345,0.000000,87.592910,100.803938,0,1,first,0.600000,0.666667,NaN,108.359062,112.660651,0.0,66.0,69.0,55.548091,46.901617,NaN,80.995106,44.004894,96.071209,59.648046,1.237076,1.117622,17.0,1.000000,0.000000,0.000000,1.760196
12,Kentucky,Providence,0.595299,1,6,11,0.230769,0.333333,102.278600,102.862294,0,0,first,0.600000,0.600000,NaN,112.849424,112.643678,20.0,66.0,68.0,46.778400,45.659029,NaN,81.199021,72.634584,82.402292,77.614078,1.103353,1.095092,23.0,0.333333,0.375000,0.000000,0.000000
13,Kansas State,Montana State,0.907003,1,3,14,0.533333,0.000000,97.098901,98.703562,0,1,first,0.600000,0.666667,NaN,106.197802,109.946617,0.0,70.0,67.0,48.104398,43.256107,NaN,87.887439,40.783034,84.612237,56.108042,1.093708,1.113907,12.0,1.000000,0.000000,0.000000,2.854812
14,Michigan State,Southern California,0.391431,0,7,10,0.600000,0.000000,102.433344,98.512245,0,1,first,0.625000,0.666667,NaN,106.748391,106.614786,0.0,65.0,68.0,24.104251,47.186649,NaN,93.556281,81.280587,80.028647,79.373849,1.042125,1.082249,20.0,0.500000,0.333333,1.871126,0.812806
15,Marquette,Vermont,0.897623,1,2,15,0.142857,0.000000,100.819156,101.167942,0,1,first,0.625000,0.750000,NaN,114.177694,110.925723,0.0,69.0,65.0,46.478888,21.503232,NaN,80.097879,32.748777,86.597094,54.818907,1.132500,1.096451,6.0,0.666667,0.000000,4.805873,3.602365
16,Houston,Northern Kentucky,0.969500,1,1,16,0.064516,0.000000,88.281250,99.065956,0,1,first,0.500000,0.636364,NaN,117.233456,106.354937,0.0,64.0,63.0,57.626943,49.601971,NaN,67.251223,33.727569,98.935953,49.253121,1.327954,1.073577,1.0,1.000000,0.000000,7.397635,1.349103
17,Iowa,Auburn,0.497769,1,8,9,0.333333,0.238095,106.586089,98.237583,0,0,first,0.375000,0.375000,NaN,114.912428,106.523232,25.0,69.0,68.0,35.791146,58.662438,NaN,83.686786,85.685155,81.154082,81.829343,1.078118,1.084343,25.0,0.600000,0.400000,0.000000,0.856852
18,Miami (FL),Drake,0.629644,1,5,12,0.277778,0.000000,104.122258,93.331902,0,1,first,0.636364,0.333333,NaN,114.633734,109.996779,0.0,69.0,67.0,35.958862,28.083342,NaN,68.800979,43.189233,76.693268,68.303663,1.100953,1.178555,14.0,1.000000,1.000000,0.688010,0.863785
19,Indiana,Kent State,0.724996,1,4,13,0.333333,0.000000,100.288568,94.877104,0,1,first,0.625000,0.666667,NaN,109.922309,110.633328,0.0,68.0,69.0,44.124007,59.826317,NaN,84.747145,42.414356,83.261715,67.751177,1.096060,1.166070,15.0,0.600000,0.000000,0.000000,0.848287
20,Iowa State,Pittsburgh,0.729541,1,6,11,0.538462,1.000000,95.790101,103.654189,0,0,first,0.500000,0.600000,NaN,104.472272,111.942959,25.0,65.0,68.0,53.561049,39.388486,NaN,91.965742,65.334421,85.062410,71.598117,1.090637,1.079966,23.0,0.727273,0.500000,0.919657,0.653344
21,Xavier,Kennesaw State,0.877060,1,3,14,0.235294,0.000000,103.926121,98.782609,0,1,first,0.500000,0.750000,NaN,114.244441,107.889328,0.0,71.0,69.0,46.532007,50.434707,NaN,84.747145,37.153344,84.837324,51.851852,1.099285,1.092190,15.0,0.250000,0.000000,2.542414,1.486134
22,Texas A&M,Penn State,0.574634,1,7,10,0.500000,0.000000,98.814750,105.000000,0,1,first,0.666667,0.625000,NaN,109.306409,111.008772,0.0,67.0,64.0,52.806451,19.444892,NaN,79.526917,84.053834,81.563331,77.450379,1.106175,1.057226,24.0,1.000000,0.500000,0.795269,1.681077
23,Texas,Colgate,0.967403,1,2,15,0.259259,0.000000,95.251948,101.427336,0,1,first,0.833333,0.500000,NaN,110.005195,115.570934,0.0,70.0,68.0,51.828968,27.660391,NaN,92.088091,20.758564,94.843462,55.923880,1.154887,1.139446,7.0,0.750000,0.000000,0.920881,1.660685
24,Kansas,Howard,0.981008,1,1,16,0.206897,0.000000,96.350365,100.954445,0,1,first,0.875000,0.875000,NaN,106.277372,105.907238,0.0,70.0,71.0,53.508076,63.189406,NaN,100.000000,24.265905,91.774095,41.497851,1.103030,1.049060,3.0,1.000000,0.000000,0.000000,0.485318
25,Arkansas,Illinois,0.498122,0,8,9,0.277778,0.333333,95.913747,95.931957,0,0,first,0.375000,0.400000,NaN,105.919137,106.944211,16.0,70.0,69.0,60.944632,52.944311,NaN,86.908646,79.078303,85.267035,82.688766,1.104317,1.114792,25.0,0.000000,0.625000,0.000000,0.000000
26,Saint Mary's (CA),Virginia Commonwealth,0.728362,1,5,12,0.125000,0.000000,94.358243,92.517301,0,1,first,0.428571,0.625000,NaN,112.002854,105.060554,0.0,63.0,68.0,42.378809,57.537752,NaN,76.794454,54.445351,88.254553,72.048291,1.186996,1.135577,16.0,0.400000,0.000000,0.767945,3.266721
27,Connecticut,Iona,0.824024,1,4,13,0.250000,0.000000,95.909926,95.238095,0,1,first,0.000000,0.333333,NaN,115.716912,111.915535,0.0,68.0,68.0,57.310481,55.483530,NaN,78.181077,33.890701,93.984039,67.567015,1.206517,1.175113,11.0,0.666667,0.000000,3.909054,3.727977
28,TCU,Arizona State,0.706319,1,6,11,0.300000,0.500000,96.646900,97.054018,0,0,first,0.600000,0.700000,NaN,106.997305,100.806324,25.0,70.0,69.0,54.768558,59.225452,NaN,84.380098,82.014682,84.489462,73.787600,1.107095,1.038662,22.0,0.500000,0.250000,0.000000,0.820147
29,Gonzaga,Grand Canyon,0.896171,1,3,14,0.142857,0.000000,102.301355,100.537288,0,1,first,0.666667,0.500000,NaN,122.795642,113.303245,0.0,71.0,66.0,42.685185,48.106602,NaN,78.466558,51.876020,92.469818,60.712093,1.200333,1.126977,9.0,0.500000,0.000000,6.277325,1.556281
30,Northwestern,Boise State,0.442825,0,7,10,1.000000,0.000000,95.360763,94.941025,0,1,first,0.500000,0.500000,NaN,103.279666,106.613002,0.0,65.0,67.0,39.953241,31.646750,NaN,82.055465,74.551387,79.066912,79.087375,1.083042,1.122939,21.0,0.800000,0.500000,0.000000,0.000000
31,UCLA,UNC Asheville,0.972362,1,2,15,0.100000,0.000000,89.991220,97.962613,0,1,first,1.000000,0.800000,NaN,110.316067,107.162361,0.0,67.0,69.0,50.690455,46.629823,NaN,84.339315,25.978793,97.462656,48.189073,1.225854,1.093911,2.0,0.500000,0.000000,8.433931,2.078303
32,Alabama,West Virginia,0.856127,1,1,9,0.172414,1.000000,93.085532,102.554006,0,1,second,1.000000,0.400000,NaN,111.670663,110.166803,24.0,72.0,69.0,66.458617,50.311513,NaN,89.151713,93.678630,100.000000,85.062410,1.199657,1.074232,4.0,1.000000,0.333333,0.000000,2.810359
33,San Diego State,Virginia,0.596354,1,5,4,0.210526,0.214286,95.648211,96.799297,0,0,second,0.833333,0.600000,NaN,108.361814,108.949416,13.0,66.0,62.0,45.369207,26.753712,NaN,82.177814,72.675367,83.916513,79.210149,1.132920,1.125519,20.0,0.000000,1.000000,0.821778,1.453507
34,Creighton,Baylor,0.356632,0,6,3,0.416667,0.291667,98.507137,104.442767,0,0,second,0.285714,0.666667,NaN,110.232102,114.710494,10.0,69.0,67.0,30.631491,41.904520,NaN,86.663948,93.311582,87.436055,88.213628,1.119027,1.098310,24.0,0.500000,0.400000,1.733279,0.000000
35,Missouri,Arizona,0.248167,0,7,2,0.666667,0.185185,105.735768,99.305556,0,0,second,1.000000,0.666667,NaN,112.696026,114.828431,8.0,70.0,72.0,49.154839,48.905704,NaN,77.487765,83.686786,76.202169,92.142419,1.065827,1.156314,20.0,0.625000,0.750000,2.324633,0.000000
36,Purdue,Memphis,0.732444,1,1,8,0.192308,NaN,97.664835,98.828283,0,1,second,0.833333,0.444444,NaN,113.782051,109.616162,NaN,64.0,72.0,39.125547,63.882897,NaN,84.706362,76.794454,90.976059,81.870268,1.165026,1.109158,5.0,1.000000,0.250000,1.694127,2.303834
37,Duke,Tennessee,0.210549,0,5,4,0.263158,0.310345,98.010707,87.592910,0,0,second,0.857143,0.600000,NaN,111.174979,108.359062,17.0,65.0,66.0,50.239802,55.548091,NaN,76.386623,80.995106,83.179865,96.071209,1.134315,1.237076,21.0,0.333333,1.000000,4.583197,0.000000
38,Kentucky,Kansas State,0.403375,0,6,3,0.230769,0.533333,102.278600,97.098901,0,0,second,0.600000,0.600000,NaN,112.849424,106.197802,12.0,66.0,70.0,46.778400,48.104398,NaN,81.199021,87.887439,82.402292,84.612237,1.103353,1.093708,23.0,0.333333,1.000000,0.000000,0.000000
39,Southern California,Marquette,0.498414,1,10,2,NaN,0.142857,98.512245,100.819156,1,0,second,0.666667,0.625000,NaN,106.614786,114.177694,6.0,68.0,69.0,47.186649,46.478888,NaN,81.280587,80.097879,79.373849,86.597094,1.082249,1.132500,NaN,0.333333,0.666667,0.812806,4.805873
40,Houston,Iowa,0.794683,1,1,8,0.064516,0.333333,88.281250,106.586089,0,0,second,0.500000,0.375000,NaN,117.233456,114.912428,25.0,64.0,69.0,57.626943,35.791146,NaN,67.251223,83.686786,98.935953,81.154082,1.327954,1.078118,1.0,1.000000,0.600000,7.397635,0.000000
41,Miami (FL),Indiana,0.379137,0,5,4,0.277778,0.333333,104.122258,100.288568,0,0,second,0.636364,0.625000,NaN,114.633734,109.922309,15.0,69.0,68.0,35.958862,44.124007,NaN,68.800979,84.747145,76.693268,83.261715,1.100953,1.096060,14.0,1.000000,0.600000,0.688010,0.000000
42,Iowa State,Xavier,0.870357,1,6,3,0.538462,0.235294,95.790101,103.926121,0,0,second,0.500000,0.500000,1.000000,104.472272,114.244441,15.0,65.0,71.0,53.561049,46.532007,1.0,91.965742,84.747145,85.062410,84.837324,1.090637,1.099285,23.0,0.727273,0.250000,0.919657,2.542414
43,Texas A&M,Texas,0.238541,0,7,2,0.500000,0.259259,98.814750,95.251948,0,0,second,0.666667,0.833333,NaN,109.306409,110.005195,7.0,67.0,70.0,52.806451,51.828968,NaN,79.526917,92.088091,81.563331,94.843462,1.106175,1.154887,24.0,1.000000,0.750000,0.795269,0.920881
44,Kansas,Illinois,0.706553,1,1,9,0.206897,0.333333,96.350365,95.931957,0,1,second,0.875000,0.400000,NaN,106.277372,106.944211,16.0,70.0,69.0,53.508076,52.944311,NaN,100.000000,79.078303,91.774095,82.688766,1.103030,1.114792,3.0,1.000000,0.625000,0.000000,0.000000
45,Saint Mary's (CA),Connecticut,0.511633,1,5,4,0.125000,0.250000,94.358243,95.909926,0,0,second,0.428571,0.000000,NaN,112.002854,115.716912,11.0,63.0,68.0,42.378809,57.310481,NaN,76.794454,78.181077,88.254553,93.984039,1.186996,1.206517,16.0,0.400000,0.666667,0.767945,3.909054
46,TCU,Gonzaga,0.410681,0,6,3,0.300000,0.142857,96.646900,102.301355,0,0,second,0.600000,0.666667,NaN,106.997305,122.795642,9.0,70.0,71.0,54.768558,42.685185,NaN,84.380098,78.466558,84.489462,92.469818,1.107095,1.200333,22.0,0.500000,0.500000,0.000000,6.277325
47,Boise State,UCLA,0.235678,0,10,2,NaN,0.100000,94.941025,89.991220,1,0,second,0.500000,1.000000,NaN,106.613002,110.316067,2.0,67.0,67.0,31.646750,50.690455,NaN,74.551387,84.339315,79.087375,97.462656,1.122939,1.225854,NaN,0.500000,0.500000,0.000000,8.433931
48,Alabama,San Diego State,0.869243,1,1,5,0.172414,0.210526,93.085532,95.648211,0,0,sweet16,1.000000,0.833333,NaN,111.670663,108.361814,20.0,72.0,66.0,66.458617,45.369207,NaN,89.151713,82.177814,100.000000,83.916513,1.199657,1.132920,4.0,1.000000,0.000000,0.000000,0.821778
49,Baylor,Arizona,0.393602,0,3,2,0.291667,0.185185,104.442767,99.305556,0,0,sweet16,0.666667,0.666667,NaN,114.710494,114.828431,8.0,67.0,72.0,41.904520,48.905704,NaN,93.311582,83.686786,88.213628,92.142419,1.098310,1.156314,10.0,0.400000,0.750000,0.000000,0.000000
50,Purdue,Tennessee,0.409771,0,1,4,0.192308,0.310345,97.664835,87.592910,0,0,sweet16,0.833333,0.600000,NaN,113.782051,108.359062,17.0,64.0,66.0,39.125547,55.548091,NaN,84.706362,80.995106,90.976059,96.071209,1.165026,1.237076,5.0,1.000000,1.000000,1.694127,0.000000
51,Kansas State,Southern California,0.554322,1,3,10,0.533333,NaN,97.098901,98.512245,0,1,sweet16,0.600000,0.666667,NaN,106.197802,106.614786,NaN,70.0,68.0,48.104398,47.186649,NaN,87.887439,81.280587,84.612237,79.373849,1.093708,1.082249,12.0,1.000000,0.333333,0.000000,0.812806
52,Houston,Indiana,0.709112,1,1,4,0.064516,0.333333,88.281250,100.288568,0,0,sweet16,0.500000,0.625000,NaN,117.233456,109.922309,15.0,64.0,68.0,57.626943,44.124007,NaN,67.251223,84.747145,98.935953,83.261715,1.327954,1.096060,1.0,1.000000,0.600000,7.397635,0.000000
53,Iowa State,Texas,0.317200,0,6,2,0.538462,0.259259,95.790101,95.251948,0,0,sweet16,0.500000,0.833333,0.333333,104.472272,110.005195,7.0,65.0,70.0,53.561049,51.828968,1.0,91.965742,92.088091,85.062410,94.843462,1.090637,1.154887,23.0,0.727273,0.750000,0.919657,0.920881
54,Kansas,Saint Mary's (CA),0.715970,1,1,5,0.206897,0.125000,96.350365,94.358243,0,0,sweet16,0.875000,0.428571,NaN,106.277372,112.002854,16.0,70.0,63.0,53.508076,42.378809,NaN,100.000000,76.794454,91.774095,88.254553,1.103030,1.186996,3.0,1.000000,0.400000,0.000000,0.767945
55,Gonzaga,UCLA,0.735477,1,3,2,0.142857,0.100000,102.301355,89.991220,0,0,sweet16,0.666667,1.000000,1.000000,122.795642,110.316067,2.0,71.0,67.0,42.685185,50.690455,1.0,78.466558,84.339315,92.469818,97.462656,1.200333,1.225854,9.0,0.500000,0.500000,6.277325,8.433931
56,Alabama,Arizona,0.752237,1,1,2,0.172414,0.185185,93.085532,99.305556,0,0,elite_eight,1.000000,0.666667,NaN,111.670663,114.828431,8.0,72.0,72.0,66.458617,48.905704,NaN,89.151713,83.686786,100.000000,92.142419,1.199657,1.156314,4.0,1.000000,0.750000,0.000000,0.000000
57,Tennessee,Kansas State,0.725686,1,4,3,0.310345,0.533333,87.592910,97.098901,0,0,elite_eight,0.600000,0.600000,NaN,108.359062,106.197802,12.0,66.0,70.0,55.548091,48.104398,NaN,80.995106,87.887439,96.071209,84.612237,1.237076,1.093708,17.0,1.000000,1.000000,0.000000,0.000000
58,Houston,Texas,0.430683,0,1,2,0.064516,0.259259,88.281250,95.251948,0,0,elite_eight,0.500000,0.833333,NaN,117.233456,110.005195,7.0,64.0,70.0,57.626943,51.828968,NaN,67.251223,92.088091,98.935953,94.843462,1.327954,1.154887,1.0,1.000000,0.750000,7.397635,0.920881
59,Kansas,Gonzaga,0.542248,1,1,3,0.206897,0.142857,96.350365,102.301355,0,0,elite_eight,0.875000,0.666667,0.000000,106.277372,122.795642,9.0,70.0,71.0,53.508076,42.685185,1.0,100.000000,78.466558,91.774095,92.469818,1.103030,1.200333,3.0,1.000000,0.500000,0.000000,6.277325
60,Alabama,Tennessee,0.839220,1,1,4,0.172414,0.310345,93.085532,87.592910,0,0,final_four,1.000000,0.600000,0.666667,111.670663,108.359062,17.0,72.0,66.0,66.458617,55.548091,1.0,89.151713,80.995106,100.000000,96.071209,1.199657,1.237076,4.0,1.000000,1.000000,0.000000,0.000000
61,Texas,Kansas,0.726070,1,2,1,0.259259,0.206897,95.251948,96.350365,0,0,final_four,0.833333,0.875000,0.666667,110.005195,106.277372,3.0,70.0,70.0,51.828968,53.508076,1.0,92.088091,100.000000,94.843462,91.774095,1.154887,1.103030,7.0,0.750000,1.000000,0.920881,0.000000
62,Alabama,Texas,0.681152,1,1,2,0.172414,0.259259,93.085532,95.251948,0,0,championship,1.000000,0.833333,NaN,111.670663,110.005195,7.0,72.0,70.0,66.458617,51.828968,NaN,89.151713,92.088091,100.000000,94.843462,1.199657,1.154887,4.0,1.000000,0.750000,0.000000,0.920881